# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Pylint
.pylint.d/

# Ruff
.ruff_cache/

# Black
.black/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

.python-version
pyproject.toml
uv.lock